# Análise de API's (Open FDA)

### Importando bibliotecas:

In [19]:
import pandas as pd
import duckdb
import httpx

ModuleNotFoundError: No module named 'pandera'

### Estruturando os dados:

In [15]:
# Buscando os dados
response = httpx.get('https://api.fda.gov/drug/event.json?search=serious:1&limit=10')
data = response.json()

In [16]:
# Estruturando os dados
df = pd.DataFrame(data['results'])
df.head()

,safetyreportid,transmissiondateformat,transmissiondate,serious,seriousnessdeath,receivedateformat,receivedate,receiptdateformat,receiptdate,fulfillexpeditecriteria,...,safetyreportversion,primarysourcecountry,reporttype,seriousnessdisabling,duplicate,reportduplicate,seriousnessother,occurcountry,seriousnesshospitalization,seriousnesslifethreatening
0,5801206-7,102,20090109,1,1,102,20080707,102,20080625,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10003300,102,20141002,1,NaN,102,20140306,102,20140306,2,...,1,US,1,1,1,"{'duplicatesource': 'GENENTECH', 'duplicatenum...",NaN,NaN,NaN,NaN
2,10003301,102,20141002,1,NaN,102,20140228,102,20140228,2,...,1,US,1,NaN,1,"{'duplicatesource': 'JANSSEN', 'duplicatenumb'...",1,NaN,NaN,NaN
3,10003311,102,20151125,1,NaN,102,20140312,102,20150812,2,...,3,US,1,NaN,1,"{'duplicatesource': 'GILEAD', 'duplicatenumb':...",NaN,US,1,NaN
4,10003312,102,20141212,1,NaN,102,20140312,102,20140417,1,...,2,US,2,NaN,1,"{'duplicatesource': 'NOVARTIS', 'duplicatenumb...",1,US,1,1

In [18]:
# Analisando os dados:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   safetyreportid              10 non-null     object
 1   transmissiondateformat      10 non-null     object
 2   transmissiondate            10 non-null     object
 3   serious                     10 non-null     object
 4   seriousnessdeath            3 non-null      object
 5   receivedateformat           10 non-null     object
 6   receivedate                 10 non-null     object
 7   receiptdateformat           10 non-null     object
 8   receiptdate                 10 non-null     object
 9   fulfillexpeditecriteria     10 non-null     object
 10  companynumb                 10 non-null     object
 11  primarysource               10 non-null     object
 12  sender                      10 non-null     object
 13  receiver                    9 non-null      object
 14  patient                     10 non-null     object
 15  safetyreportversion         9 non-null      object
 16  primarysourcecountry        9 non-null      object
 17  reporttype                  9 non-null      object
 18  seriousnessdisabling        1 non-null      object
 19  duplicate                   9 non-null      object
 20  reportduplicate             9 non-null      object
 21  seriousnessother            5 non-null      object
 22  occurcountry                7 non-null      object
 23  seriousnesshospitalization  5 non-null      object
 24  seriousnesslifethreatening  2 non-null      object
dtypes: object(25)
memory usage: 2.1+ KB